[run]
# Files or folders to exclude from coverage measurement
omit =
    */final_project_comp/data/*


[report]
# Exclude lines with `# pragma: no cover`
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError

[html]
# Specify the directory for the HTML report
directory = htmlcov
